<!DOCTYPE html>
<html>
    <head>
        <style>
            h1 {
      font-family: Arial, Helvetica, sans-serif;
      margin: 0;
      background-color:Gray;
      text-align:center;
    }
    h2 {
      font-family: Arial, Helvetica, sans-serif;
      margin: 0;
      text-align:center;
    }
        </style>
    </head>
    <body>
        <br>
        <br>
        <br>
        <h1> About Q-loans </h1>
        <h2>Our Mission</h2>
   
        <p > Q-loans Group aims to make working capital finance available at the fingertips of entrepreneurs,
            so that they can focus on business instead of worrying about the gaps in their cash-flows.</p>
            <h2>Our Company</h2>
            <p>Q-loans Technologies Private Limited is a fin-tech startup in the working capital space. The Company has developed technology tools based on big data analysis which facilitates lenders to evaluate borrower’s credit worthiness and provides other related services.</p>

    <p>Q-loans Finance Limited , is a non-deposit taking NBFC, providing SME lending in India. The Company aims to transform small business lending by making it convenient for SMEs to access credit easily. The Company uses technology and analytics tools, analyzing thousands of data points from various data sources to assess the creditworthiness of small businesses rapidly and accurately.</p>

    <p>Q-loans Finance Limited, unlike banks and other NBFCs,do not focus on vendor’s old records (Past Financial Statements & Income Tax returns) to evaluate the credit risk profile of a potential client. The NBFC focuses on the client's current year’s cash flows and business growth. The objective is to make capital funds available at finger tips so that entrepreneurs can focus on business instead of worrying about gaps in their cash-flows.</p>

    <p>We are currently based in  Bangalore and Mumbai but we serve across India.</p>

    <h3>Our Management</h3>
<p><b>Deepak Pattem</b></p> <p>Co-Founder and CEO</p>  <p>“I create, I learn, I grow, I am an entrepreneur“</p>
    <p> Deepak drives the primary aspect of business – designing innovative credit solutions and delivering them in the most simple and efficient manner to SMB’s. He started his career with large private sector and multinational banks in their small loan divisions. Early in his career he was intrigued by passion of small business owners who inspite of being credit worthy were not served by existing lenders. Credit decisions in banks take months. His vision is to implement Big data credit scoring with analytics and artificial intelligence.</p>



    </body>
</html>
