<!DOCTYPE html>
<html>
    <head>
        <style>
 h1 {
      font-family: Arial, Helvetica, sans-serif;
      margin: 0;
      background-color:Gray;
      text-align:center;
    }
    h2 {
      font-family: Arial, Helvetica, sans-serif;
      margin: 0;
      background-color:Gray;
      text-align:center;
    }
        </style>
    </head>
    <body>
        <h1>Loan Status</h1><br><br><br>
    <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>
        </div>
    </body>
</html>